<div class="page-header">
   <h1>npr-lite <small>tech news</small></h1>
</div>

<button type="button" id="scrapeArticles" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scrape New Articles</button>

<div id="articles"></div>