<div class="page-header">
   <h1>npr-lite <small style="color:blue";>tech news</small></h1>
</div>

<button type="button" id="scrapeArticles" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scrape New Articles</button>

<br><br><br>

<div id="articles" class="well well-lg">
 <h2>Behold your articles:</h2>
</div>

<div id="notes" class="well well-lg">
<h2>My notes y'all</h2>
</div>