body{
	font-family: 'Fira Sans', sans-serif;
	background-color: black;
}

h1{
	color: white;
}

.small{
	color: blue;
}

h2{
	color: red;
}

#articles{
	width: 50%;
	height: 700px;
	overflow: auto;

}

#notes{
	float: right;
	width: 30%;
	position: absolute;
	left: 800px;
	top: 190px;
}